// font weights
$font-weight-small:400;
$font-weight-medium:700;
$font-weight-large:900;
// margins
$margin-one:16px;
$margin-two:24px;
$margin-three:32px;
$margin-four:48px;
$margin-five:180px;
// paddings
$padding-one:16px;
$padding-two:24px;
$padding-three:48px;
$padding-four:64px;
$padding-five:180px;
$padding-six:56px;
$padding-seven:32px;
$padding-eight:40px;
// colors
$color-background-text:#323232;
$color-text-nav-footer:#FFFFFF;
$color-text-label:#AFAFAF;
$color-text-field-border:#E1E1E1;
$color-text-field-background:#FAFAFA;
$color-hover:#0065AD;
$color-button: #0095FF;
$color-gray-light-1: #f7f7f7;