@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Lato:300,400,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Parisienne|Sedgwick+Ave&display=swap');

$tangerine-slab: 'Tangerine', sans-serif;
$parisienne-slab: 'Parisienne', sans-serif;
$sedgwick-slab: 'Sedgwick', sans-serif;

// font weights
$font-weight-small: 400;
$font-weight-medium: 700;
$font-weight-large: 900;
// margins
$margin-one: 16px;
$margin-two: 24px;
$margin-three: 32px;
$margin-four: 48px;
$margin-five: 180px;
// paddings
$padding-one: 16px;
$padding-two: 24px;
$padding-three: 48px;
$padding-four: 64px;
$padding-five: 180px;
$padding-six: 56px;
$padding-seven: 32px;
$padding-eight: 40px;
// colors
$color-background-text: #323232;
$color-text-nav-footer: #ffffff;
$color-text-label: #afafaf;
$color-text-field-border: #e1e1e1;
$color-text-field-background: #fafafa;
$color-hover: #0065ad;
$color-button: #0095ff;
$color-gray-light-1: #f7f7f7;
