@import '../../styles/Base.scss';

.login {
	font-family: "Tangerine", sans-serif;
	height: 75vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 150px;
	padding: 64px;
	padding-left: 64px;
	background-color: rgba($color: #323232, $alpha: .5);
	width: 80%;
	margin: 0 auto;
	box-shadow: 32px 10px 50px rgba($color: black, $alpha: .2);
	margin-top: 100px;
	color: #fff;
	z-index: 15000;
	@include absCenter;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&__close {
		&:link,
		&:visited {
			color: #777;
			position: absolute;
			top: 24px;
			right: 24px;
			font-size: 30px;
			text-decoration: none;
			transition: all .2s;
		}
		:hover {
			color: green;
		}
	}

	&__content {
		background-color: rgba($color: rgb(79, 86, 99), $alpha: .9);
		@include absCenter;
		width: 75%;
		height: 500px;

		box-shadow: 32px 10px 50px rgba($color: black, $alpha: .2);
	}
	&__head {
		margin: 24px;
		color: #fff;
	}
	&__group {
		margin: 24px;
		margin-bottom: 20px;
		font-weight: 400;
		color: #fff;
	}
	&__label {
		display: block;
		margin-bottom: 5px;
	}
	&__input,
	&__textArea {
		width: 50%;
		padding: 10px;
		border: 1px solid #ddd;
	}
	&__textArea {
		height: 200px;
	}
	&__btn {
		margin: 16px;
		border: none;
		border-radius: 5px;
		width: 25%;
		background-color: rgb(183, 208, 240);
		color: #323232;
		margin: 32px 24px;
		height: 48px;
		font-size: 16px;
	}
}
